# Ignore build output directories
**/build/
**/out
**/distributions/

# Java Lang Support for VSCode Extension must create its own bin directory
/bin/

# Ignore IDE specific files
/.idea/
/*.iml
#/.vscode/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore Java specific files
*.class
*.jar
*.war
*.ear
*.log

# Ignore Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignore Gradle specific files
.gradle/

# Ignore JavaFX specific files
*.fxml

# Gradle wrapper directory
!gradle/wrapper/

# IDE-specific files
.classpath
.project

# Local configuration files
local.properties

### Gradle ###
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache
.gradletasknamecache

### Gradle Patch ###
# Java heap dump
*.hprof
